@import '../../../global.scss';
@import '../../../flexbox.scss';
#side-bar {
  box-sizing: border-box;
  width: 33.75%;
  height: 100%;
  @include flexbox();
  @include justify-content(space-around);
  @include flex-direction(column);
  color: $white;

  .heading {
    box-sizing: border-box;
    height: 12vh;
    max-height: 65px;
    padding: 18px 16px;
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    background: $gray-5;
    font-weight: bold;
  }
  .users {
    overflow-y: scroll;
    background: $gray-6;
    flex-grow: 1;
  }
  .users::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $black;
    background-color: $gray-4;
  }
  .users::-webkit-scrollbar {
    width: 5px;
    background-color: green;
  }
  .users::-webkit-scrollbar-thumb {
    background-color: $gray-5;
  }

  .current-user {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    background: $gray-5;
    box-sizing: border-box;
    height: 10vh;
    max-height: 65px;
    padding: 0 16px;
    color: $white;
    font-weight: bold;
  }
  .logout {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 2em;
  }
}
