@import '../../../global.scss';
@import '../../../flexbox.scss';
.chat-header {
  background: $gray-4;
  box-sizing: border-box;
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  height: 12vh;
  max-height: 65px;
  padding: 18px 16px;
  color: $white;

  .chat-info {
    @include flexbox();
    @include align-items(center);

    .chat-name {
      margin-right: 10px;
    }
  }
  .close svg {
    font-size: 30px;
    cursor: pointer;
  }
}
