//colors
$gray-1: #fafafa;
$gray-2: #bbbbbb;
$gray-3: #999999;
$gray-4: #777777;
$gray-5: #555555;
$gray-6: #333333;

$white: #ffffff;
$black: #000000;
$light-gray: #f2f2f2;
$error: #ff9494;
$decline-hover: #7e2a24;
$decline: #c92c43;
